Fonarte Latino/Power Bi Diego/Diego_report_generator.pbix
Fonarte Latino/Power Bi Diego/Reportes 2014 - 2020.pbix
Fonarte Latino/04 Bi Abril 2026/20260529_April_2026_fullreport_Fonarte_Latino_S_A__de_C_V__1.xls
Fonarte Latino/02 Bi Febrero 2026/20260227_January_2026_fullreport_Fonarte_Latino_S_A__de_C_V__1.xls
Fonarte Latino/02 Bi Febrero 2026/20260227_January_2026_fullreport_Fonarte_Latino_S_A__de_C_V__1.xlsx
Fonarte Latino/Power Bi Diego/Diego_report_generator - copia.zip

