ChangeLog
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
doc-build/gnome-doc-common
/gnome-common.spec
/install-sh
/missing
Makefile
Makefile.in
Fonarte Latino/Diego_report_generator.pbix
Fonarte Latino/Power Bi Diego/Diego_report_generator.pbix
