//! **************************************************************************
// Written by: Map P.68d on Wed Jun 03 07:52:27 2015
//! **************************************************************************

SCHEMATIC START;
COMP "A<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "A<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "S0" LOCATE = SITE "M4" LEVEL 1;
COMP "S1" LOCATE = SITE "C11" LEVEL 1;
COMP "A<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "A<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "Sal<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "B<0>" LOCATE = SITE "G3" LEVEL 1;
COMP "Sal<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "B<1>" LOCATE = SITE "F3" LEVEL 1;
COMP "Sal<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "B<2>" LOCATE = SITE "E2" LEVEL 1;
COMP "Sal<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "B<3>" LOCATE = SITE "N3" LEVEL 1;
COMP "Sal<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "Cin" LOCATE = SITE "A7" LEVEL 1;
SCHEMATIC END;

